<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MapRegion</key>
	<dict>
		<key>lat</key>
		<real>37.8651</real>
		<key>lon</key>
		<real>-119.5383</real>
		<key>spanLat</key>
		<real>0.3</real>
		<key>spanLon</key>
		<real>0.3</real>
	</dict>
	<key>Center</key>
	<dict>
		<key>lattitude</key>
		<real>37.978845</real>
		<key>longitude</key>
		<real>-121.35498</real>
	</dict>
	<key>TopLeft</key>
	<dict>
		<key>lattitude</key>
		<real>41.845013</real>
		<key>longitude</key>
		<real>-124.464111</real>
	</dict>
	<key>TopRight</key>
	<dict>
		<key>lattitude</key>
		<real>41.902277</real>
		<key>longitude</key>
		<real>-119.981689</real>
	</dict>
	<key>BottomLeft</key>
	<dict>
		<key>lattitude</key>
		<real>34.615127</real>
		<key>longitude</key>
		<real>-120.695801</real>
	</dict>
	<key>BottomRight</key>
	<dict>
		<key>lattitude</key>
		<real>35.799994</real>
		<key>longitude</key>
		<real>-115.488281</real>
	</dict>
</dict>
</plist>
